.tc{
    text-align: center;
}
.fwb{
    font-weight: bold;
}
.w70{
    width: 70%;
}
.ml15{
   margin-left: 15%;
}
.rTable{
    width:100%;margin-top:10px;font-size: 12px;
}
.fs-16{
    font-size: 16px;
}
.w50{
    width: 50%;
}
.w10{
    width: 10%;
}
.w40{
    width: 40%;
}
.fs-12{
    font-size: 12px;
}
